<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/dashboard.css">
  
     
 
	<title>DSD Watch Center - Admin</title>
</head> 
<body>
    <div class="container">
        <div class="topbar">
            <div class="logo">
                <h2>Welcome - User</h2>

            </div>

            <div class="search">
                <h2 >DSD Watch Center-Admin Dashboard</h2>
            </div>
            <!-- <i class="fas fa-bell"></i> -->
            <div class="serch">
                <a href="login/" class="button-logout">Logout</a>
              </div>
        </div>
            <div class="sidebar">
                <ul>
                    <li>
                        <a href="home" >
                            <i class="fas fa-th-large"></i>
                            <div>Home</div>
                        </a>
                    </li>
                    <li>
                        <a href="addProduct" >
                            <i class="fas fa-th-large"></i>
                            <div>Add Product</div>
                        </a>
                    </li>
                    <li>
                        <a href="view" >
                            <i class="fas fa-th-large"></i>
                            <div>View & Update Product</div>
                        </a>
                    </li>
                    <li>
                        <a href="orders">
                            <i class="fas fa-th-large"></i>
                            <div>Orders</div>
                        </a>
                    </li>
                    <li>
                        <a href="profile">
                            <i class="fas fa-th-large"></i>
                            <div>Admin profile</div>
                        </a>
                    </li>
                    <li>
                        <a href="transaction" class="active">
                            <i class="fas fa-th-large"></i>
                            <div>Reports</div>
                        </a>
                    </li>
                    <li>
                        <a href="analyzing">
                            <i class="fas fa-th-large"></i>
                            <div>Analyzing</div>
                        </a>
                    </li>

                    <li>
                        <a href="addCatogory">
                            <i class="fas fa-th-large"></i>
                            <div>Category</div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main">
                <h1 style="text-align:center;font-family:Verdana;margin-top:20px; margin-left:30px;color: #0000ff;">Transaction Summary</h1>
                
                <table id="customers" style="width: 70%;justify-content: center;margin-left: 15%;margin-top:20px;";>
                  <tr>
                    <th>ID</th>
                    <th>Order Id</th>
                    <th>User Id</th>
                    <th>Product Model No</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Date</th>
                 
                  </tr>
                  <tr>
                    <td>T001</td> 
                    <td>O001</td>
                    <td>P012</td>
                    <td>U010</td>
                    <td>Rolex230</td>               
                    <td>2</td>     
                    <td>Rs:2000</td>  
                    <td>2022.11.05</td>   
                  </tr>
                  <tr>
                    <td>T002</td> 
                    <td>O003</td>
                    <td>P012</td>
                    <td>U010</td>
                    <td>Rolex230</td>               
                    <td>2</td>     
                    <td>Rs:2500</td>  
                    <td>2022.11.15</td>
                  </tr>
                  <tr>
                    <td>T003</td> 
                    <td>O002</td>
                    <td>P012</td>
                    <td>SL245</td>
                    <td>Xiomi</td>               
                    <td>2</td>     
                    <td>Rs:3000</td>  
                    <td>2022.11.15</td>
                  </tr>
                 
                 
                </table>
                <input type="submit" value="Genarate Report" style="background-color: #0000ff;margin-left:200px">
               </div>

           
</body>
</html>




